<!DOCTYPE html>

<input type="text" ng-model="madLib.adjective1" id="adjective1" placeholder="Adjective">
<input type="text" ng-model="madLib.adjective2" id="adjective2" placeholder="Another Adjective">
<input type="text" ng-model="madLib.adjective3" id="adjective3" placeholder="Another Adjective">
<input type="text" ng-model="madLib.adjective4" id="adjective4" placeholder="Another Adjective">
<input type="text" ng-model="madLib.adjective5" id="adjective5" placeholder="Another Adjective">
<input type="text" ng-model="madLib.adverb1" id="adverb1" placeholder="Adverb">
<input type="text" ng-model="madLib.animal1" id="animal1" placeholder="Animal">
<input type="text" ng-model="madLib.noun1" id="noun1" placeholder="Noun">
<input type="text" ng-model="madLib.body1" id="body1" placeholder="Body Part">
<input type="text" ng-model="madLib.body2" id="body2" placeholder="Another Body Part">
<input type="text" ng-model="madLib.body3" id="body3" placeholder="Another Body Part">
<input type="text" ng-model="madLib.pluralNoun1" id="pluralNoun1" placeholder="Plural Noun">
<input type="text" ng-model="madLib.pluralNoun2" id="pluralNoun2" placeholder="Another Plural Noun">
<input type="text" ng-model="madLib.eat1" id="eat1" placeholder="Something you can eat">
<input type="text" ng-model="madLib.verb1" id="verb1" placeholder="And a verb">

<button type="button" ng-click="ourFunc(madLib)">Click Here!</button>
