<!DOCTYPE html>
<p>Although we believe ourselves to be <span class="words">{{madLibObject.adverb1}}</span> civilized, most
of us are really <span class="words">{{madLibObject.pluralNoun1}}</span> at heart, because we still believe in
<span class="words">{{madLibObject.adjective1}}</span> superstitions that began while humans still lived in
<span class="words">{{madLibObject.pluralNoun2}}</span>. Some of these superstitions are:
<br>
1. If you spill salt, throw some over your left <span class="words">{{madLibObject.body1}}</span> for <span class="words">{{madLibObject.adjective2}}</span> luck.
<br>
2. If a black <span class="words">{{madLibObject.animal1}}</span> runs in front of you, you are in <span class="words">{{madLibObject.adjective3}}</span> trouble.
<br>
3. If you break a <span class="words">{{madLibObject.noun1}}</span>, you will have <span class="words">{{madLibObject.number1}}</span> years of <span class="words">{{madLibObject.adjective4}}</span> luck.
<br>
4. Never <span class="words">{{madLibObject.verb1}}</span> under a ladder.
<br>
5. If your <span class="words">{{madLibObject.body2}}</span> itches, it means you will have a <span class="words">{{madLibObject.adjective5}}</span> visitor.
<br>
6. If you want to keep vampires away from you, always wear
<span class="words">{{madLibObject.eat1}}</span> on a string around your <span class="words">{{madLibObject.body3}}</span>.</p>
